header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    background-color: rgb(221, 221, 221);
     width: 300px;
     display: flex;

    
}
#mag{
    padding: none;
    font-size: 20px;
    padding: 10px;
}

#self{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-radius: 20px;
    background: 
      linear-gradient(to right, white, white), 
      linear-gradient(to right, red , blue); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
nav{
    background-color: rgb(255, 255, 255);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
i{
    /* margin: 20px; */
    font-size: 30px;
    /* width: 40px;
    height: 40px; */
}
/* =================Main Section ==================== */
main{
    display: flex;
    /* background-color: yellowgreen; */
    justify-content: space-around;
    
    width: 70%;
    margin-left: 100px;
}
aside{background-color: aquamarine;
     position: sticky;
     left: 200px;

    width: 400px ;
    padding: 20px;

}
.myself,.people{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.suggest{
    display: flex;
    justify-content: space-between;
}

/*================= SEction========================= */

.status{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}


#mine
{
width: 300px;
height: 300px;
}
.div{
    display: flex;
    margin-top: 20px;

}
h2{
    padding-left: 20px;
}
.posts{
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left:20px ;
    padding-top:20px ;
    display: flex;
    flex-direction: column;

}